<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faixa Etaria</title>
</head>
<body>

    <h1>Calculo de Média Ponderada</h1>
    <form action="/" method="post">
        <label for="lidade">Digite a nota da Atividade prática em Laboratório:</label>
        <input type="text" id="nota1" name="nota1"><br><br>
        <label for="lidade">Digite a nota da prova do semestre:</label>
        <input type="text" id="nota2" name="nota2"><br><br>
        <label for="lidade">Digite a nota do Trabalho teórico:</label>
        <input type="text" id="nota3" name="nota3"><br><br>
        <input type="submit" value="Enviar">
    </form>
    
</body>
</html>